services:
  redis:
    image: redis:7.2-alpine
    container_name: judge0-redis

  postgres:
    image: postgres:13-alpine
    container_name: judge0-postgres
    environment:
      POSTGRES_DB: judge0
      POSTGRES_USER: judge0
      POSTGRES_PASSWORD: password

  judge0:
    image: judge0/judge0:latest
    container_name: judge0
    ports:
      - "2358:2358"
    environment:
      REDIS_URL: redis://redis:6379  # ← ВАЖНО: redis вместо localhost
      DATABASE_URL: postgresql://judge0:password@postgres:5432/judge0
    depends_on:
      - redis
      - postgres